@import 'svelte-components/theme.css';
@import './theme/_theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'),
		url('/mutual-funds/fonts/Roboto-Regular-tiny.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('/mutual-funds/fonts/Roboto-Medium-tiny.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('/mutual-funds/fonts/Roboto-Medium-tiny.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('/mutual-funds/fonts/Roboto-Medium-tiny.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

* {
	font-family: 'Roboto';
}
html,
body {
	height: 100%;
	background: var(--BACKGROUND-ALT);
}

input:focus {
	outline: none;
}
/* .numInputWrapper{
    pointer-events: none;
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* Riskometer slider config */
.track {
	height: 6px !important;
}
.track > .progress {
	height: 6px !important;
	width: auto !important;
}
/* .slider-disabled > .track{
	height: 12px !important;
} */

.grecaptcha-badge {
	visibility: hidden;
}

.swiper-wrapper {
	padding-bottom: 40px;
}

.swiper-bullet {
	height: 4px !important;
	width: 4px !important;
}

.swiper-active {
	width: 16px !important;
	background: #3f5bd9 !important;
	opacity: 1 !important;
	border-radius: 100px !important;
}

.swiper-button-disabled {
	opacity: 0.5;
	cursor: auto;
	pointer-events: none;
}

.line-clamp-2 {
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.slider {
	--progress-bg: var(--PRIMARY);
	--track-bg: var(--TINT12-PRIMARY);
}
